{% extends "core-layout.html" %}
{# {% extends request.base_template %} #}
{% block title %}Change password{% endblock %}

{% block javascripts %}
{% endblock %}


{% block content %}
			<div class="post">
				<h2 class="title">Change Password</h2>
				<!--<div style="clear: both;">&nbsp;</div>-->
				<div class="entry">
					<form action="#" method="POST">
					
					    {% for field in form %}
					        <div class="fieldWrapper">
					            {{ field.errors }}
					            {{ field.label_tag }}: {{ field }}
					        </div>
					    {% endfor %}
					    <p><input type="submit" value="Change Password" /></p>
					</form>
										
		        </div>
		        	
			</div>
			
{% endblock %}

{% block sidebar %}
<!--  this is how to put stuff on the sidebar -->
				
{% endblock %}
</body>

