{% extends "core-layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p>You're already logged in!</p>
{% else %}

			<div id="login-form">
				<form action="." method="POST">
					<p class="form_errors">
						{% if form.errors %}
							Your username and password didn't match. Please try again.
						{% endif %}
					</p>
					<fieldset class="login">
						<legend class="title" >CIS Login</legend>
						<div>
							<label for="username">{{ form.username.label_tag }}</label> {{ form.username }}
						</div>
						<div>
							<label for="password">{{ form.password.label_tag }}</label> {{ form.password }}
						</div>
						<div>
							<div><input type="hidden" name="next" value="{{ next }}" /></div>
							<div><button type="submit" id="submit-go" value='Login'>Login</button></div>
						</div>
					</fieldset>
				</form>
				<div style="clear: both;">&nbsp;</div>
			</div>
			<!-- end #login-form -->
{% endif %}
{% endblock %}

