<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{# {% load region-tags %} #}
{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>
            {% block title %}{% endblock%}{% block title_suffix %} - Criminal Information System{% endblock %}
        </title>
        {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="/static/stylesheets/style.css" />
        {% endblock %}
        {% block temp_stylesheets %}
        </script>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
<body>
    <div id="updiv">
        <div id="header">
		<img src="/static/images/logo2.gif" title="CIS" alt="CIS logo"  />
		<h1 id="site-name">{%trans "CIS - TANZANIA" %}</h1>
		{% block auth %}
                {% include "core/partials/header.html" %}
                {% endblock %}
                <div id="branding">
                    {% block branding %}{% endblock %}
                </div>
         </div>
	  {% block login %}{% endblock %}
	      
        </div>
    </div>
    <div id="mid">
      <div id="midDiv">
	  {% block content %}
	  {% endblock %}
      </div>
    </div>
    <div id="foo1">
      <div id="footer_div">
	{% block footer %}
	{% include "core/partials/footer.html" %}
        {% endblock %}
      </div>
    </div>
</body>
</html>
