<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{# {% load region-tags %} #}
{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>
            {% block title %}{% endblock%}{% block title_suffix %} - Criminal Information System{% endblock %}
        </title>
        {% block stylesheets %}
        <!--<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/core/static/stylesheets/style.css" />-->
        <!--<link type="text/css" rel="stylesheet" href="/media/Otoro/projects/cis/core/static/stylesheets/style.css" />-->
        <!--<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/core/stylesheets/modules.css" />-->
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="container">
                {% block auth %}
                {% include "core/partials/header.html" %}
                {% endblock %}
                <div id="branding">
                    {% block branding %}{% endblock %}
                </div>
                <h1 id="site-name">{%trans "Criminal Information System" %}</h1>
            </div>
        </div>
        <div id="inner">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <div class="container">
                {% block footer %}
                {% include "core/partials/footer.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>