<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="CIS, Criminal Information System, TZ CIS" />
<meta name="CIS, Criminal Information System, Crime Information system, TZ CIS, TZ Crime Information System" />
<meta name="description" content="Offenses information logs, Reports,
	Charts and Maps depicting offense statistics in Tanzania, rangingfrom day to day stats to annual" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}{% endblock%}{% block title_suffix %} - Criminal Information System{% endblock %}
        </title>

        {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="/statics/stylesheets/style.css" />
        {% endblock %}

        {% block javascripts %}
		{% endblock %}

    </head>
{% block body %}
<body>
{% endblock %}
    <div id="wrapper">	
	<div id="header">
		<div id="login-session-name">
		  {% if user.is_authenticated %}        
		      Welcome
		      <strong>
				{% if user.first_name and user.last_name %}
					{{user.first_name }} {{ user.last_name }}.
				{% else %}
					{{ user.username|capfirst }}
				{% endif %}
		      </strong>
		      &nbsp;&nbsp;| <a href="/admin/">Admin</a>&nbsp;&nbsp; |
		      &nbsp;&nbsp;<a href="{% url core.views.logout %}">Log out</a>
		  {%endif%}
		</div>
		<!-- end #login-session-name -->
	

		<div id="logo">
			<h1><a href="#">C I S</a></h1>
			<p>Criminal Information System.</p>
		</div>
		<!-- end #logo -->
		
		<div id="menu">
			{% block navigation %}
			    {% include "core/partials/navigation.html" %}
			{% endblock %}
		</div>
		<!-- end #menu -->
	</div>
	<!-- end #header -->
        

	<div id="page">
		<div id="content">
			{% block content %}
			{% endblock %}
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->

		<div id="sidebar">
			{% block sidebar %}
			{% endblock %}
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	{% block footer %}
	    {% include "core/partials/footer.html" %}
	{% endblock %}
</div>
<!-- end #footer -->
</body>
</html>
