/* CSS Document */
body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
		}
div, img, p, h1, h2, h3, ul, li{
	padding:0;
	margin:0;
	}
.blank {
	font-size:0px; line-height:0px; clear:both;
	}
ul{	
	list-style-type:none;
	}
/*---------------upperpan-----------*/
#updiv{
	width:100%;	background:url(/statics/images/updiv_bg.gif) repeat-x #FFFFFD; color:#584200; float:left; margin:0 auto 0 auto;
	}
/*---------------------header part-------*/
#header{
	width:778px;
	margin:0 auto 0 auto;
	/*height:275px;*/
	min-height: 150px;
	}
#header img{
	width:243px;
	margin:31px 0 0 49px;
	float:left;
	}
#header h1{
	font:13px/16px Arial, Helvetica, sans-serif; background-color:#FEF4D6;
	margin:40px 0 0 17px; width:114px;	display:block;	float:left;	color:#988345;	font-weight:normal;
	}
#header ul{
	width:306px;
	display:block;
	margin:15px 0 0 49px;
	float:left;
	font-size:0px;
	}
#header ul li{
	display:block;
	margin:0 1px 0 0px;
	float:left;
	}
#header ul li a{
	display:block;
	height:74px;
	text-indent:-2000px;
	}
#header ul li a.home{
	background:url(/statics/images/home_icon.gif) no-repeat; width:60px;
	}
#header ul li a.search{
	background:url(/statics/images/search.gif) no-repeat; width:60px;
	}
#header ul li a.ser{
	background:url(/statics/images/services.gif) no-repeat; width:60px;
	}
#header ul li a.blog{
	background:url(/statics/images/blog.gif) no-repeat; width:60px;
	}
#header ul li a.contact{
	background:url(/statics/images/contact_icon.gif) no-repeat; width:60px;
	}
#header ul.navi{
	width:306px;
	display:block;
	margin:0px 0 0 0px;
	float:left;
	font-size:0px;
	padding:0 0 0 472px;
	}
#header ul.navi li{
	display:block;
	margin:0 0px 0 0px;
	float:left;
	}
#header ul.navi li a.navi1{
	background:url(/statics/images/navi_bg.gif) no-repeat; width:61px; background-color:#FEF4D6;
	font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;	color:#FFFFFF;
	text-decoration:none; padding-top:9px;	height:20px; text-indent:0px; text-align:center; 
	}
#header ul.navi li a.nobor{
	background:url(/statics/images/navi_bg1.gif) no-repeat; width:61px;	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;	font-weight:bold; color:#FFFFFF; text-decoration:none; height:29px;	text-indent:0px;
	text-align:center;	line-height:29px;  background-color:#FEF4D6;
	}
#header ul.navi li a.navi1:hover{
	background:url(/statics/images/navi_bgh.gif) no-repeat; width:61px;
	}
#header ul.navi li a.nobor:hover{
	background:url(/statics/images/navi_bgh.gif) no-repeat; width:61px;
	}
#header h2{
	width:128px; padding:32px 0 0 49px;	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:48px;	color:#1892AC;	font-weight:normal;	display:block;	float:left; background-color:#FFFFFF;
	}
#header h2 span{
	font-size:30px;
	}
#header p{
	width:531px;
	display:block;
	margin:20px 0 13px 24px;
	float:left;
	font-size:14px;
	line-height:18px;
	}
#header h3{
	font-size:24px; 
	line-height:18px; width:auto;
	height:20px; font-weight:normal;
	margin:0 0 0 0px; 
	padding:0px 60px 0 1px; display:block; float:right;
	}

/*----------------------login--------------------*/
#login{
	height:200px;
	background-color: #F3FBFE;
	margin: 0  0 20px ;
	padding-left: 20%;
}
#login table {
      margin: 3%;
      border: 1px solid #7FD7F7;
/*       background-color: #E5F7FD; */
      background:url(/statics/images/lock.png) no-repeat #E5F7FD;
      background-position: right;
      width: 500px;
      height: 130px;
      padding: 15px;
}

#login table p{
      text-align: right;
      font-weight:bold;
      color: #333;
      font-size: 0.9em;
}
#login .button{
      float: left;
      background-color: #98C73F;
      width: 7em;
      border: 1px solid #FFF;
      font-weight:bold;
}

#login .button:hover{
      background-color: #80C908;
}
#id_username, #id_password{
      border: 2px solid #CCC;
}

#id_username:hover, #id_password:hover{
      border: 2px solid #98C73F;
}

#login h2{
	width:128px; padding:32px 0 0 49px;	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:48px;	color:#1892AC;	font-weight:normal;	display:block;	float:left;
	}
#login h2 span{
	font-size:30px;
}
/*--------------currentlogin-block------------*/
#currentlogin-block{
      position:absolute;
      top: 0;
      right: 0;
      color: #20AECC;
      font-size: 0.8em;
}

#currentlogin-block a{
      color: #20AECC;
      text-decoration: none;
}

#currentlogin-block a:hover{
      text-decoration: underline;
}
/*-------------------------middle-------------*/
#mid{
	width:100%;
	margin:0px auto 0 auto;
	float:left; color:#584200;
	background-color:#FFF9E5;
	}
#midDiv{
	width:778px; height:auto; margin:0 auto 0 auto;	padding-bottom:32px; padding-left:100px; padding-top:47px;
	}
#midDiv div.Davis{
	width:243px; float:left; 
	}
#midDiv div.Davis h2{
	width:165px; background-color:#FFF9E8; display:block; color:#1B92AB; font:24px Arial, Helvetica, sans-serif;
	font-weight:bold; padding:0 0 0 0;	float:left;
	}
#midDiv div.Davis h2 span{
	color:#948047; background-color:#FFF9E8; font-size:20px; float:left;
	}
#midDiv div.Davis p{
	width:201px; float:left; padding:5px 0 24px 0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px; background-color:#FFF9E8; color:#584200; line-height:18px;
	}
#midDiv div.Davis p span{
	font-size:30px;
	line-height:30px;
	}
#midDiv div.Davis a{
	background:url(/statics/images/more_bg.gif) no-repeat 0px 0px #FFF9E8;
	width:109px; height:38px; display:block;
	padding:8px 30px 0 43px;
	color:#444131;
	float:left;	font:16px/14px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;	
	}
#midDiv div.Davis a:hover{
	background:url(/statics/images/more_bgh.gif) no-repeat 0 0 #FFF9E6; color:#444131;
	}
/*------------------------------------------------down table-----------------------*/
#downv{
	background:url(/statics/images/down_table_bg.gif) repeat-x;
	width:100%;
	height:271px;
	margin:0 auto 0 auto;
	float:left;
	padding:0 0 0 0;
	}
#bestv{
	width:778px;
	height:271px;
	margin:0 auto 0 auto;
	background:url(/statics/images/best_bg.gif) no-repeat right top;
	}
#best{
	width:283px;
	float:left;
	background:url(/statics/images/line.gif) repeat-y right;
	height:270px;
	}
#best h2{
	width:136px; display:block;	color:#FFF9E3;	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:normal;	padding:23px 0 0px 49px; font-size:36px; line-height:36px;
	background:url(/statics/images/mid_h2_bg.gif) repeat-x #584200;
	}
#best h2 span{
	color:#FFF9E7; background-color:#584200;
	font-size:30px;
	}
#best ul{
	width:190px; display:block;	margin:20px 0 0 49px;	
	}
#best ul li{
	height:24px; display:block;	background:url(/statics/images/arrow.gif) no-repeat 0px 5px;
	}
#best ul li a{
	font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#FFF9E9; margin:0 0 0 16px;	text-decoration:none;
	display:block; background-color:#584200;
	}	
#best ul li a:hover{
	text-decoration:underline;
	}
#best a.more{
	background:url(/statics/images/more2_bg.gif) no-repeat #fff;	width:43px;	height:16px; display:block;	margin:16px 0 0 49px;
	font-family:Arial, Helvetica, sans-serif; color:#352800; font-weight:bold;	padding:0 0px 0 147px;
	font-size:12px;	text-decoration:none;
	}
#best a.more:hover{
	background:url(/statics/images/more2_bgh.gif) no-repeat;
	}
#best1{
	width:283px; float:left; height:270px;
	}
#best1 h2{
	width:136px; display:block;	color:#FFF9f6; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:normal;	padding:23px 0 0px 49px; font-size:36px; line-height:36px;
	background:url(/statics/images/mid_h2_bg.gif) repeat-x #584200;
	}
#best1 h2 span{
	color:#FFF9f8;	font-size:30px; background-color:#584200;
	}
#best1 ul{
	width:190px; display:block;	margin:20px 0 0 49px;	
	}
#best1 ul li{
	height:24px; display:block;	background:url(/statics/images/arrow.gif) no-repeat 0px 5px;
	}
#best1 ul li a{
	font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#FFF9E0; margin:0 0 0 16px;
	text-decoration:none; display:block;  background-color:#584200;
	}	
#best1 ul li a:hover{
	text-decoration:underline;
	}
#best1 a.more{
	background:url(/statics/images/more2_bg.gif) no-repeat #fff;
	width:43px;	height:16px; display:block;	margin:16px 0 0 49px;	font-family:Arial, Helvetica, sans-serif;
	color:#352800;	font-weight:bold; padding:0 0px 0 147px; font-size:12px; text-decoration:none;
	}
#best1 a.more:hover{
	background:url(/statics/images/more2_bgh.gif) no-repeat;
	}
/*---------------footer---------*/
#foo1{
	width:100%;	height:80px; float:left;	background-color:#353535; color:#fff;
	}
#footer_div{
	width:303px;
	margin:0 auto 0 auto;
	height:150px;
	}
#footer_div ul{
	width:303px;
	height:20px;
	display:block;
	list-style-type:none;
	margin:32px 0 0px 20px;
	}
#footer_div ul li{
	display:block;
	float:left;
	font:12px/11px Arial, Helvetica, sans-serif;
	color:#FFFFFF; background-color:#353535;
		}
#footer_div ul li a{
	font:12px/16px Arial, Helvetica, sans-serif; color:#FDFDFD;	text-decoration:none; background-color:#353535;
	margin:0 8px 0 8px;
	}
#footer_div ul li a:hover{
	text-decoration:underline;
	}

#footer_div p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size:11px;	color:#FFF9E0;	margin:0px 0 0 50px;
	background-color:#353535;
	}
#footer_div p a {
	color:#FDFDFD; background-color:#353535; text-decoration:underline;
	}
#footer_div p a:hover {	
	color:#FDFDFD;
	background-color:#4E4E4E;
	}
#footer_div ul.css{
	width:160px;
	display:block;
	margin:10px 0 0px 75px;
	font-size:0px;
	padding:0px;
	}
#footer_div ul.css li{
	display:block;
	float:left;
	margin:0 0 0 0;
	}
#footer_div ul.css li a{
	display:block;
	text-indent:-2000px;
	height:24px;
	margin:0 2px 0 0;
	font-size:0px;
	}
#footer_div ul.css li a.htm{
	background:url(/statics/images/html.gif) no-repeat 0 0; width:75px;
		}
#footer_div ul.css li a.cs{
	background:url(/statics/images/css.gif) no-repeat; width:75px;
		}