{% load i18n %}
{% if user.is_authenticated %}
<ul>
  <li><a href="/dashboard/" class="home">home</a></li>
  <li><a href="http://www.free-css.com/" class="search">search</a></li>
  <li><a href="http://www.free-css.com/" class="ser">services</a></li>
  <li><a href="http://www.free-css.com/" class="blog">blog</a></li>
  <li><a href="http://www.free-css.com/" class="contact">contact</a></li>
</ul>
<ul class="navi">
  <li><a href="/dashboard/" class="navi1">home</a></li>
  <li><a href="http://www.free-css.com/" class="navi1">search</a></li>
  <li><a href="http://www.free-css.com/" class="navi1">services</a></li>
  <li><a href="http://www.free-css.com/" class="navi1">blog</a></li>
  <li><a href="http://www.free-css.com/" class="nobor">contact</a></li>
</ul>
{% endif %}
<div id="currentlogin-block">
  {% if user.is_authenticated %}        
      Logged in as <strong>{{user}}</strong>
      &nbsp;&nbsp;<a href="/admin/">Admin</a>&nbsp;&nbsp; |
      &nbsp;&nbsp;<a href="{% url core.views.logout %}">{% trans "Log out" %}</a>
  {%else%}
      <a href="{% url core.views.login %}">{% trans "Log in" %}</a>
  {%endif%}
</div>